<!DOCTYPE html>
<html> 
  <header>
    <title>猫ブログ</title>
  </header>
  <body>
    <div class="headerline">
      <div class="title">
        架空BLOG広場
        <p1>猫ブログ部門</p1>
        <p2>ブログ開設<<i class="fas fa-pencil-ruler"></i></p2>
      </div>
    </div>
    <div class="mainpicter">
      <p>Neko Blog</p>
    </div>
    <div class="line">
    </div>
    <div class="menu">
      <div class="kizi">
        <a href="#">　
          <div class="ichikizi">
            <div class="kizipicter"></div>
            <div class="kizibody">
              <i class="fas fa-paw">ブログタイトル</i>
              <br>
              ブログの内容 ブログの内容　ブログの内容　ブログの内容　ブログの内...
              <br>
              <p3>
                <i class="fas fa-heart" id="heart"></i>
                <i class="fas fa-pencil-alt" id="pencil"></i>
                2020/02/04
              </p3>
            </div>
          </div>
        </a>
        <a href="#">　
            <div class="ichikizi">
              <div class="kizipicter"></div>
              <div class="kizibody">
                <i class="fas fa-paw" id="nikukyu">ブログタイトル</i>
                <br>
                ブログの内容 ブログの内容　ブログの内容　ブログの内容　ブログの内...
                <br>
                <p3>
                  <i class="fas fa-heart" id="heart"></i>
                  <i class="fas fa-pencil-alt" id="pencil"></i>
                  2020/02/03
                </p3>
              </div>
            </div>
          </a>
          <a href="#">　
              <div class="ichikizi">
                <div class="kizipicter"></div>
                <div class="kizibody">
                  <i class="fas fa-paw">ブログタイトル</i>
                  <br>
                  ブログの内容 ブログの内容　ブログの内容　ブログの内容　ブログの内...
                  <br>
                  <p3>
                    <i class="fas fa-heart" id="heart"></i>
                    <i class="fas fa-pencil-alt" id="pencil"></i>
                    2020/02/02
                  </p3>
                </div>
              </div>
            </a>

      </div>
      <div class="weter">
        <div class="profilepicter">
        </div>
        <li>name</li>
        <li>平凡マイペース人間</li>
        <li>ブログ購読</li>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
        <li>フォローお願いします</li>


      </div>

    </div>

  </body>
  <footer>

  </footer>
</html>