<!DOCTYPE html>
<html> 
  <header>
    <title>猫ブログ</title>
  </header>
  <body>
    <div class="headerline">
      <div class="title">
        架空BLOG広場
        <p1>猫ブログ部門</p1>
        <p2>ブログ開設<i class="fas fa-pencil-ruler"></i></p2>
      </div>
    </div>
    <div class="mainpicter">
      <p>Neko Blog</p>
    </div>
    <div class="line">
    </div>
    <div class="menu">
      <div class="kizi">
        <a href="#">　
          <div class="ichikizi">
            <div class="kizipicter">
                <div class="mask">
                    <div class="caption">read more...</div>
                </div>
            </div>
            <div class="kizibody">
              <i class="fas fa-paw" id="nikukyu">ブログタイトル</i>
              <br>
              ブログの内容 ブログの内容　ブログの内容　ブログの内容　ブログの内...
              <br>
              <p3>
                <i class="fas fa-heart" id="heart"></i>
                <i class="fas fa-pencil-alt" id="pencil"></i>
                2020/02/04
              </p3>
            </div>
          </div>
        </a>
        <a href="#">　
            <div class="ichikizi">
              <div class="kizipicter">
                <div class="mask">
                      <div class="caption">read more...</div>
                </div>
              </div>    
              <div class="kizibody">
                <i class="fas fa-paw" id="nikukyu">ブログタイトル</i>
                <br>
                ブログの内容 ブログの内容　ブログの内容　ブログの内容　ブログの内...
                <br>
                <p3>
                  <i class="fas fa-heart" id="heart"></i>
                  <i class="fas fa-pencil-alt" id="pencil"></i>
                  2020/02/03
                </p3>
              </div>
            </div>
          </a>
          <a href="#">　
              <div class="ichikizi">
                <div class="kizipicter">
                  <div class="mask">
                    <div class="caption">read more...</div>
                  </div>
                </div>
                <div class="kizibody">
                  <i class="fas fa-paw" id="nikukyu">ブログタイトル</i>
                  <br>
                  ブログの内容 ブログの内容　ブログの内容　ブログの内容　ブログの内...
                  <br>
                  <p3>
                    <i class="fas fa-heart" id="heart"></i>
                    <i class="fas fa-pencil-alt" id="pencil"></i>
                    2020/02/02
                  </p3>
                </div>
              </div>
            </a>
            <a href="#">　
                <div class="ichikizi">
                  <div class="kizipicter">
                    <div class="mask">
                      <div class="caption">read more...</div>
                    </div>
                  </div>
                  <div class="kizibody">
                    <i class="fas fa-paw" id="nikukyu">ブログタイトル</i>
                    <br>
                    ブログの内容 ブログの内容　ブログの内容　ブログの内容　ブログの内...
                    <br>
                    <p3>
                      <i class="fas fa-heart" id="heart"></i>
                      <i class="fas fa-pencil-alt" id="pencil"></i>
                      2020/02/02
                    </p3>
                  </div>
                </div>
              </a>
            <div class="pager">
              <a  class="page-numbers" href="#">1</a>
              <a class="page-numbers" href="#">2</a>
              <a class="page-numbers" href="#">3</a>
              <a class="page-numbers" href="#">4</a>
              <a class="page-numbers dots">…</a>
              <a class="page-numbers" href="#">20</a>
              <a class="next page-numbers" href="#">&nbsp;<span class="fa fa-caret-right fa-fx"></span></a>
            </div>


      </div>
      <div class="weter">
        <div class="profilepicter"></div>
        <ul>name</ul>
        <ul>平凡マイペース人間</ul>
        <a class="reder" href="#"><i class="fas fa-paw" id="nikukyu1"></i>ブログ購読<i class="fas fa-paw" id="nikukyu1"></i></a>
        <br>
        <ul class="catsprof">~愛猫達~</ul>
        <div class="profilepicter">
        </div>
        <ul>りく<i class="fas fa-mars"></i></ul>
        <ul>猫見知り、やんちゃ坊主</ul>
        <div class="profilepicter"></div>
        <ul>ジュニ<i class="fas fa-mars"></i></ul>
        <ul>甘えん坊、子猫感が抜けない</ul>
        <div class="profilepicter"></div>
        <ul>メイ<i class="fas fa-venus"></i></ul>
        <ul>怖がり、食いしん坊</ul>
        <ul> 
          
        <a href="https://twitter.com/ndoqzBawWoxeL49"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/?hl=ja"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/?gl=JP&hl=ja"><i class="fab fa-youtube"></i></a>
        <a href="https://github.com/sakimasaoka"><i class="fab fa-github-alt"></i></a>
        </ul>
        <ul>フォローお願いします</ul>
        <a class="twitter-timeline" data-width="300" data-height="350" data-theme="light" href="https://twitter.com/ndoqzBawWoxeL49?ref_src=twsrc%5Etfw">Tweets by ndoqzBawWoxeL49</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      </div>

    </div>

  </body>
  <footer>

  </footer>
</html>