.hederline{
  width: 100%;
  height: 20px;
  display:flex;
}

p1{
  margin-left:10px;
  color:gray;
}

p2{
  color:gray;
  float: right;
  margin-right: 10px;
}
.mainpicter{
  width: 100%;
  height: 450px;
  background-image: url(uHtb3hN3Uqkggj31580707320_1580707397.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-color: #464646;
  background-position:bottom; 
  opacity: 0.8;
  position: relative;
}

p{
  font-size: 50px;
  width: 250px;
  height: 60px;
  font-family: fantasy;
  text-align: center;
  padding: 30px;
  color:grey;
  top: 300px;
  position: absolute;
  left: 30px;
  border: dashed 4px rgb(209, 175, 189);
  box-shadow: 3px 3px 6px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.line{
  background-image: url(_l_extra24_10_s1024_extra24_10_0.png);
  background-color: indianred;
  width: 100%;
  height: 50px;
  transform: scale(1, -1);
  margin-top:-4px;
  z-index: 1;
  background-size:cover;
  opacity: 1;

}

.menu{
  width: 100%;
  background-color: indianred;
  display:flex;
  padding-top:50px;
  padding-bottom:20px;
  }

  .kizi{
    width: 800px;
    background-color:white;
    margin-left: 10%;
    border-radius: 10px;
  }

  .ichikizi{
    width: 600px;
    height: 300px;
    margin: 40px auto;
    position: relative;
  }

  .ichikizi:before{
    background-color: #ef858c;	/* 吹き出し背景色 */
    border-radius: 5px;
    color: #fff;	/* 吹き出し文字色 */
    content: '猫の賢い飼い方';
    font-weight: bold;
    padding: 5px 20px;
    position: absolute;
    left: -10px;
    top: -20px;
    z-index: 5;
  }
  .ichikizi:after{
    border-top: 12px solid #ef858c;		/* 吹き出し三角部分の色 */
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    content: '';
    position: absolute;
    top: 10px;
    left: 15px;
  }

  .kizipicter{
    width: 600px;
    height: 250px;
    overflow: hidden;
    background-image: url(Cats_Sleep_Kittens_518962_1920x1080.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center; 
    position:relative;
  }

  .caption {
    font-size:130%;
    text-align:center;
    color:#fff;
    padding-top:100px;
  }

  .mask {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;	/* マスクを表示しない */
    background-color:	rgba(0,0,0,0.4);
    -webkit-transition:	all 0.4s ease-out;
    transition:		all 0.4s ease-out;
  }

  .kizipicter:hover .mask {
    opacity:1;	/* マスクを表示する */
    -webkit-transform:scale(2);	/* 2倍に拡大 */
    transform:scale(2);
  }

  .kizibody{
    color:gray;
  }

  #nikukyu{
    color:indianred;
    text-shadow: 1px 2px 3px #ffdff9;
  }

  #nikukyu:hover{
    color:lightgray;
    text-shadow: 1px 2px 3px #ffdff9;
  }


  #heart{
    padding: 0.2em 0.2em;
    color: rgb(252, 135, 147);
    background: #ffeaea;
    box-shadow: 0px 0px 0px 5px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 30%;
}

#pencil{
  padding: 0.2em 0.2em;
  color: rgb(96, 181, 131);
  background: #ffeaea;
  box-shadow: 0px 0px 0px 5px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 30%;
  margin:0 6px;
}

p3{
  float: right;
  font-size:13px;
  margin-top: 5px;
}

  a{
    text-decoration: none;
  }

  .pager{
    width: 600px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color:gray;
    margin:50px 0 30px;
  }

  .page-numbers{
    color: gray;
    box-shadow: 0px 0px 0px 5px #ffeaea;
    border-radius: 30%;
    background-color:#ffeaea;
    font-size:15px;
    margin:0 4px;
  }


  .weter{
    width: 300px;
    height: 500px;
    background-color: white;
    margin-left:40px;
    margin-right: 10%;
    border-radius: 10px;
  }

  .profilepicter{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lightgray;
    margin:20px auto;
  }

  ul{
    text-align: center;
  }